# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.eggs/
dist/
build/
develop-eggs/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
